* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(C:/Users/Loïc/codelab/Cosplay/img/bg.jpg);
    width: 100%;
    height: 100%;
}

header{
    align-items: center;
    display: flex;
    flex-direction: column;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#logoCosplay{
    width: 250px;
}

#titreCosplay{
    font-family: 'Alkatra', cursive;
    color: red;
    font-size: 40px;
}

#navCosplay{
    width: 100%;
    background-color: red;
    height: 80px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.navTexte{
    display: inline-block;
    margin: 30px;
    color: white;
}

h2{
    font-family: 'Alkatra', cursive;
    font-size: 45px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#mainCosplayImage{
    width: 55%;
    margin-left: 22%;
}

p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    width: 55%;
    margin-left: 22%;
    line-height: 35px;
    margin-top: 10px;
}

footer{
    width: 100%;
    background-color: rgb(26, 26, 26);
    height: 180px;
}

#edenSchoolLogo{
    width: 100px;
    height: 50px;
    margin-left: 46%;
    margin-top: 2%;
}

#endTexte{
    font-family: 'Roboto', sans-serif;
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}